/*777777777777777777777777777777777777777777
GeNeRaL
777777777777777777777777777777777777777777*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.main-header {
    height: 850px;
    padding-top: 170px;
        background-image: url('../Img/starry-nightjpg');*/
    /*    background-image: radial-gradient(circle a top, #ffa949,        firebrick);*/
    /* background-image: linear-gradient(aff949, firebrick);*/
    background-image: linear-gradient(affa949, transparent 90%), linear-gradient(0deg, afff, transparent), affa949 url('../Img/Mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main-header,
.title {
    text-align: center;
}

.title {
    /* To change font-size from px to em, you need to do this simple equation. Whatever the desired pixel is / 16.
26px/16px = 1.625 */
    font-size: 1.625em;
    color: white;
    letter-spacing: .065em;
    font-weight: 200;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.primary-content {
    text-align: center;
    padding-bottom: 90px;
}

.secondary-content {
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px solid #dfe2e6;
}

.primary-content,
.secondary content {
    width: 75%;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 900px;
}

.t-border {
    border-top: 2px solid lightgray;
}


/*
ul li {
    margin-bottom: 5px;
}
*/

ul,
el {
    margin-left: 30px 0;
}

li {
    margin-bottom: 10px;
}

.arrow {
    width: 50px;
    margin-top: 150px;
}

img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.wildlife {

    padding-top: 100px;
    padding-right:  120px;
    padding-bottom: 100px;
    padding-left: 120px;

    padding: 18% 24%;
    /* Two values first is for top and bottom. 2nd is for left and right. */
  
    border-width: 10px 20px; 
    border-style: solid;
    border-color: #ffa949;

    border-top: solid 10px #ffa949;
    /* When 3 values, first one is the top, second being for left and right, the third one 4 the bottom. */
    margin: 185px 0 60px;
    background-image: url('../img/starry-night-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Box Shadows: 1st value is horizontal. 2nd is vertical.
    3rd is blur. 4th is spread radius.*/
    box-shadow: inset 0px 0px 50px 10px rgbh(0, 0, 0, .2);
    border-radius: 10px;
}

.callout {
    font-size: 1.25em;
    border-bottom: 30px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
}

#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px blue;
}


/*777777777777777777777777777777777777777777777
HEADLINE ELEMENTS & P ELEMENTS 
777777777777777777777777777777777777777777777*/

h1 {
    /*90px/16px*/
    font-size: 5.625em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    /* Text Shadows: Text values: 1st value is
    horizontal offset. 2nd is vertical offset. 
    3rd value is blur. 4th is of the color of 
    the shadow.*/
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    margin: 12px 0 0;
}

h2 {
    font-size: 53px;
    text-decoration: underline;
    font-weight: normal;
    /* 26px/53px */
    margin-bottom: .5em;
}

h3 {
    font-size: 20px;
    /*34px/20px*/
    margin-bottom: 1.7em;
}

p {}


/*777777777777777777777777777777777777777777777
FLOATING COLUMNS
777777777777777777777777777777777777777777777*/

.resorts,
.tips {
    width: 46.5%;
}

.resorts {
    float: left;
}

.tips {
    float: right;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}


/*777777777777777777777777777777777777777777777
Colors
777777777777777777777777777777777777777777777*/

.resorts{
    background-image: url('../img/resort.jpg')


}

body {
    color: red;
}

.main-header {
    height: 750px;
    padding: 170px;
}

.main-header,
.title {
    text-align: center;
}

.title {
    color: white;
}

.main-header {
    background-image: url('../img/slide06.jpg');
}

.wildlife {
    color: red;
    background-color: black;
}

ul li {
    color: red;
}

h1 {
    color: red;
}

h3 {
    color: red;
}


/*CSS PSEUDO CLASS*/

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

a:focus {
    color: red;
    background-color: black;
}


/*777777777777777777777777777777777777777777777
Media Queries
777777777777777777777777777777777777777777777*/

@media (max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    .wildlife {
        padding: 10% 12%;
        margin: 50px 0 20px;
    }
}

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
        width: 100%;
        padding: 20px;
        border-top: none;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        font-size: 1.3ren;
        border: none;
    }
    h1 {
        font-size: 5ren;
        line-height: 1.1;
    }
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1ren;
    }
    .resorts,
    .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media max-width: 375px) {
    h1 {
        font-size: 3ren;
    }
}