<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lake tahoe</title>
    <link rel="stylesheet" href="css/Style.css">
    <link rel="author" href="humans.txt">
</head>

<body>
    <header id="top" class="main-header">
        <span class="title">Lake tahoe is a great place to relax</span>
        <h1>Lake Tahoe.</h1>
        <img class="Arrow" src="Img/arrow.jpg" alt="Arrow pointing down.">
        <p>Come visit and enjoy a relaxing weekend.</p>
    </header>
    <div class=primary-content t-border>
        <p>This weekend I went to lkae tahoe.</p>
        <a class="callout" href="">Find out more</a>
    </div>
    <div class="wildlife">
        <h2>Lake Tahoe is a cool place to go to.</h2>
        <p>There is a lot of beautiful views and trails.</p>
        <a class="callout" href="img/laket2.jpg"></a>
        
    </div>
    <div class=secondary-content t-border group>
        <div class="resorts">
            <img scr="Img/resort.jpg" alt="Resorts">
            <h3>Activites</h3>
            <p>They are many things you cn do at lake tahoe</p>
            <ul>
                <li><a href="img/laket1.jpg">Canoeing</a></li>
                <li><a href="img/resort.jpg">Resorts</a></li>
                <li><a href="img/laket2.jpg">Camp grounds</a></li>
            </ul>
        </div>
    </div>

    <div class="tips">
        <img src="Img/starry-night-3.jpg" alt="Mountain landscape">
        <h3>Pack Accordinigly</h3>
        <p>Tempetures can get ver low in the winter</p>
        <ul>
            <li>Summer</li>
            <li>Spring</li>
            <li>Winter</li>
        </ul>
    </div>
    </div>
    <footer id="main-footer">
        <p>All rights reserved to the state of <a href="#">California</a></p>
        <a href="#top">Back to the top of &raquo;</a>
    </footer>
    <script src="js/main.js"></script>
</body>

</html>


